PyYAML==6.0.2
huggingface-hub==0.35.3
hf-xet==1.4.3
numpy==1.26.4
soundfile==0.13.1
fastapi==0.116.1
uvicorn==0.35.0
gradio==5.25.2
spaces==0.51.3
f5-tts==1.1.7
torch==2.8.0
torchaudio==2.8.0
transformers==4.46.3
datasets==3.6.0
accelerate==1.10.1
scipy==1.15.3
